!!! 5
%html
  %head{lang:"ja"}
    %title MoE 古びた地図検索機
    %meta{ :content => "", :name => "MoE map searcher" }
    %meta{ :content => "", :name => "mznh" }
    %meta{ charset: "utf-8"}
    %meta{ name: "viewport",content:"width=device-width,initial-scale=1"}
    %meta{"http-equiv":"X-UA-Compatible",CONTENT:"IE=EmulateIE9"}

    %meta{
      :name => "description",
      :content >  "Master of Epicのアイテム 「古びた地図」の詳細をすばやく検索するwebアプリです。"}
    %meta{ :content => "mznh", :name => "author" }

    %link{rel:"stylesheet",media:"(min-width: 480px)",type:"text/css",href:"./pc_style.css"}
    %link{rel:"stylesheet",media:"(max-width: 480px)",type:"text/css",href:"./sp_style.css"}
    %link{rel:"icon",type:"image/png",href:"./favicon.png",size:"40x40"}
    / Global site tag (gtag.js) - Google Analytics
    %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-118684416-2"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-118684416-2');
  %body
    %header
      %h1 MoE 古びた地図検索機
    %main
      .predecipher
        .type_title
          %img{src:"./predecipher.png"}
          %h2
            解読前
        .form_space
          %p 例 古びた地図001 等の詳細はこちら
          %form{action:"/",method:"post"}
            %input{type:"tel",name:"number",placeholder:"001"}
            %input.submit{type:"submit",value:"検索"}
        .result_space
          - if $num.nil? then
            %p 地図の番号を入力してください。 
          - elsif $res.empty? then
            %p 古びた地図#{$num}番は存在しません
          - else 
            %p<
              %span<>
                古びた地図 
                %b<>
                  #{$m["num"]}
                番は、
              %span<>
                ランク 
                %b<>
                  #{$m["rank"]} 
                の 
                %b<>
                  #{$m["area"]} 
                で、
              %span<>
                必要解読スキルは 
                %b<>
                  #{$m["skill"]} 
                です。
      .deciphered
        .type_title
          %img{src:"./deciphered.png"}
          %h2
            解読済
        .form_space
          %p 例 ミーリム海岸01 等の詳細はこちら
          %form{action:"/answer",method:"post"}
            .select_style
              %select{name:"answer_area"}
                - $area_list.each_with_index do |an,idx|
                  - if idx == 17 then
                    %option{value:"#{idx}",selected:""}> #{an}
                  - else
                    %option{value:"#{idx}"}> #{an}
            %input{type:"tel",name:"answer_number",placeholder:"01"}
            %input.submit{type:"submit",value:"検索"}
        .result_space
          - if $anum.nil? then
            %p 
              %span 地図のエリア名を選択し、
              %span 番号を入力してください。 
          - elsif $ans.empty? then
            %p 古びた地図#{$anum}番は存在しません
          - else 
            %p<
              %span<>
                古びた地図 
              %span<>
                %b<>
                  #{$m["area_num"]}
            %p<
              %span<>
                座標: 
              %span<>
                %b<>
                  #{$m["pos"]} 
            %p<
              %span<>
                トレジャーガーディアン: 
              %span<>
                %b<>
                  #{$m["guard"]} 
            %p<
              %span<>
                備考: 
              %span<>
                %b<>
                  #{$m["info"]} 
      .known_issues
        %h2 既知のバグ
        %p リスティル等のQoAの地図の検索に対応していない。
        %p 
          バグ報告や要望などは
          %a{href:"https://twitter.com/mznh"}
            @mznh
          までどうぞ。
    %footer
      .tweet_button
        %a.twitter-share-button{"data-hashtags" => "MasterofEpic", "data-lang" => "ja", "data-show-count" => "false", "data-text" => "MoE 古びた地図検索機 ", "data-url" => "https://moe-map-searcher.herokuapp.com/", :href => "https://twitter.com/share?ref_src=twsrc%5Etfw"} Tweet
        %script{:async => "", :charset => "utf-8", :src => "https://platform.twitter.com/widgets.js"}
      .credits
        %p 
          %a{href:"http://moewiki.usamimi.info/"}
            MoEwiki
          のデータを元に作成しています。
        %p.notes
          %span<>
            (C)MOE K.K.
          %span<>
            (C)Konami Digital Entertainment
          %br
          株式会社MOE及び株式会社コナミデジタルエンタテインメントの著作権を侵害する行為は禁止されています。
        %a{href:"http://moepic.com/"}
          %img{src:"./moe_banner.gif",alt:"MoE_banner"}
          
      .about_me
        %table.link<
          %tr
            %td<>
              %h4<>
                Contact
          %tr
            %td<>
              twitter
            %td<>
              %a{href:"https://twitter.com/mznh"}<>
                @mznh
          %tr
            %td<>
              home page
            %td<>
              %a{href:"http://www.mznh.jp"}<
                mznh.jp
      .keen_tab
        


